# Development
.vscode/**
.vscode-test/**
src/**
config/**
node_modules/**
build/**
out/**
Visual-Studio-Code-Ziper(VSCZ)/**

# Source & config files
**/*.ts
**/*.map
**/tsconfig.json
**/eslint.config.mjs
**/esbuild.js

# Misc
*.vsix
.gitignore
.yarnrc
.git/**
